.image{
    text-align: center;
    position: absolute;
    vertical-align: middle;
    margin-top: -28px;
    margin-left: 48%;
}

.line{
    border-top: 5px solid black;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}
